.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 566px}
.u-section-1 .u-layout-wrap-1 {pointer-events: auto; margin: 0 auto 0 0}
.u-section-1 .u-image-1 {min-height: 566px; pointer-events: auto; background-image: url("images/55e9d3444350aa14f6da8c7dda793678153bdee757596c48702673d3964bcc51b1_12802.jpg"); background-position: 50% 50%}
.u-section-1 .u-container-layout-1 {padding: 30px 60px}
.u-section-1 .u-layout-cell-2 {min-height: 566px; pointer-events: auto}
.u-section-1 .u-container-layout-2 {padding: 30px 60px}
.u-section-1 .u-text-1 {margin: 102px 0 0}
.u-section-1 .u-btn-1 {padding: 0}
.u-section-1 .u-text-2 {margin: 20px 0 0}
.u-section-1 .u-btn-2 {text-transform: uppercase; font-size: 0.875rem; letter-spacing: 2px; background-image: none; border-style: solid; margin: 20px auto 0 0; padding: 10px 34px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 481px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-image-1 {min-height: 467px}
.u-section-1 .u-layout-cell-2 {min-height: 467px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 367px}
.u-section-1 .u-image-1 {min-height: 358px}
.u-section-1 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 653px}
.u-section-1 .u-image-1 {min-height: 413px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 446px}
.u-section-1 .u-image-1 {min-height: 260px}
.u-section-1 .u-container-layout-2 {padding-top: 15px}
.u-section-1 .u-text-1 {margin-top: 24px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 1249px}
.u-section-2 .u-custom-html-1 {min-height: 670px; height: auto; width: 1140px; margin: 0 0 0}
.u-section-2 .u-image-1 {height: 519px; margin: 30px auto 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 1435px}
.u-section-2 .u-custom-html-1 {width: 940px}
.u-section-2 .u-image-1 {margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 1362px}
.u-section-2 .u-custom-html-1 {width: 720px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 1302px}
.u-section-2 .u-custom-html-1 {width: 540px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 1111px}
.u-section-2 .u-custom-html-1 {width: 340px}
.u-section-2 .u-image-1 {height: 321px; margin-right: initial; margin-left: initial} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 690px}
.u-section-3 .u-custom-html-1 {min-height: 630px; height: auto; animation-duration: 1000ms; width: 1140px; margin: 30px 0} 

@media (max-width: 1199px){ .u-section-3 .u-custom-html-1 {width: 940px} }

@media (max-width: 991px){ .u-section-3 .u-custom-html-1 {width: 720px} }

@media (max-width: 767px){ .u-section-3 .u-custom-html-1 {width: 540px} }

@media (max-width: 575px){ .u-section-3 .u-custom-html-1 {width: 340px} }input[type=button], input[type=submit], input[type=reset] {
  background-color: #538adc;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 100%;
  background-color: #538adc;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #1956a2;
}
p {
  font: Roboto;
}

section.needpad { padding: 10px;}